kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: raft-test
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 5000
        hostPort: 5001
        protocol: TCP
  - role: worker
  - role: worker
  - role: worker
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:5000"]
      endpoint = ["http://kind-registry:5000"]
